<div class="row clearfix" [@routerTransition]>




    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


        <div class="card main-content">
            <div class="header">


                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h2>
                            {{l('phonebook')}} ({{people.length}})
                            <small>联系人列表</small>
                        </h2>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 align-right ">
                        <button class="btn btn-primary blue" (click)="createPerson()">
                            <i class="fa fa-plus"></i>{{l('CreateNewPerson')}}
                        </button>
                    </div>

                </div>

                <div class="row">

                </div>


                <div class="row clearfix  ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="  input-group   btn-group btn-primary form-group                  ">
                            <input [(ngModel)]="filter" name="filterText" auto-focus class="form-control " [placeholder]="l('SearchWithThreeDot')" type="text">
                            <span class="input-group-btn">
                                <button (click)="refresh()" class="btn btn-default" type="submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>



            </div>




            <div class="row  ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="body">

                        <div class="list-group">
                            <div class="list-group-item   " *ngFor="let person of people">

                                <h5 class="list-group-item-heading  ">
                                    姓名：{{person.name}} 地址：{{person.address}}

                                    <span class="buttons">
                                        <button (click)="editPerson(person)" title='编辑联系人' class="btn btn-circle btn-icon-only color-code green">
                                            <i class="icon-pencil"></i>
                                        </button>
                                        <button (click)="editPhoneNumbers(person)" title='修改电话本内容' class="btn btn-circle btn-icon-only " href="javascript:;">
                                            <i class="icon-calendar"></i>
                                        </button>
                                        <button (click)="delete(person)" title="删除联系人" class="btn btn-circle btn-icon-only red delete-person" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </span>

                                </h5>
                                <p class="list-group-item-text">
                                    电子邮箱：{{person.emailAddress}}</p>



                            </div>
                        </div>


                    </div>






                </div>



            </div>
        </div>






    </div>





</div>

<app-create-or-edit-person-modal #createOrEditPersonModal (modalSave)="refresh()"></app-create-or-edit-person-modal>
