<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">

  <div class="modal-dialog ">
    <div #modalContent class="modal-content">



      <form *ngIf="active" #createOrEditPersonForm="ngForm" id=frm_createOrEditPerson novalidate (ngSubmit)="save()" >


        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span *ngIf="person.id">{{l("EditEdition")}}: {{person.name}}</span>
            <span *ngIf="!person.id">{{l("CreateNewPerson")}}</span>

          </h4>
        </div>
        <div class="modal-body">
          <!-- "name": "string",
            "emailAddress": "string",
            "address": "string" -->

          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="form-group form-float">
                <div class="form-line">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" [(ngModel)]="person.name" required minlength="2"  maxlength="90" class="validate form-control" id="name" name="name">
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="form-group form-float">
                <div class="form-line">
                  <input type="email" name="emailAddress" [(ngModel)]='person.emailAddress'  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" id="emailAddress" class="form-control validate">

                  <label for="emailAddress" class="form-label">EmailAddress</label>
                </div>
              </div>
            </div>
          </div>


          
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              

              
            </div>
          </div>
          


          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" name="address" [(ngModel)]='person.address' id="address" class="form-control validate">

                  <label for="address" class="form-label">address</label>
                </div>
              </div>
            </div>
          </div>




        </div>
        <div class="modal-footer">

          <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
          </button>
          <button [disabled]="!createOrEditPersonForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
          </button>
        </div>



        <div>


        </div>
      </form>


    </div>



  </div>



</div>
